* {
  margin: 0;
  padding: 0;
}
.navigation {
  margin: 13px auto 0 auto;
  font-family: var(--font1);
  height: 74px;
  /* background-color: red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content {
  height: 95px;
  /* background-color: blue; */
}
.footer {
  height: 50px;
  /* background-color: yellow; */
}
.nav-left {
  font-size: 25px;
  display: flex;
  font-weight: 500;
}
.nav-left span {
  font-size: 30px;
}
.nav-left ul {
  display: flex;
  align-items: center;
  margin: 0 77px;
  font-size: 18px;
}
.nav-left ul li a {
  text-decoration: none;
}
.nav-left ul li {
  list-style: none;
  margin: 0 14px;
  margin-bottom:10px;
  font-family: var(--font2);
  transition: all 0.3s ease-in-out;
}
.nav-left ul li a:hover {
  color: blue;
}
.nav-right {
  display: flex;
  gap: 0.7rem;
}
.content {
  height: 100%;
  /* background-color: rgb(117, 117, 210); */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 22px;
  padding: 12px;
  position: relative;
}
.content::after {
  content: "";
  /* background-image: url('../img/art1.jpg'); */
  position: absolute;
  width: 100%;
  /* height: inherit; */
  opacity: 0.19;
  background-size: contain;
}
.content-left {
  font-family: var(--font1);
  /* display:flex;
  align-items:center;
  justify-content: center; */
  /* width:50%; */
  z-index: 1;
}
.content-right {
  font-family: var(--font2);
  /* width:50%;  */
  display: flex;
  align-items: center;
  justify-content: center;
}
.content-right img {
  width: 450px;
  margin-left: 10px;
  border: 1px solid rgb(177, 177, 207);
  border-radius: 10px;
}
.home-articles {
  /* height: 450px; */
  /* background-color:rgb(121, 121, 196); */
  padding: 15px;
  position:relative;
}
.year-box{
  background-color: rgba(241, 239, 239, 0.852);
  width:170px;
  height:50px;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius:5px;
  font-size:18px; 
  padding:0px 10px;
  margin:0 30px;
}
/* section h3{
 padding:5px;
} */
.year-box div{
  margin:12px 0;
}
.article-container{
  display:flex;
  justify-content: space-between;
}
.home-articles h2 {
  /* padding-left: 22px; */
}
.home-article {
  display: flex;
  padding: 22px;
}
.home-articles-top{
  display:flex;
  align-items: center;
  justify-content: space-between;
  margin:10px;
}
.home-article img {
  height:150px;
  width: 250px;
  /* border: 1px solid black; */
  border-radius: 5px;
  box-shadow: 0px 4px 8px rgba(0, 7, 0, 0.2);
}
.home-article-content {
  align-self: center;
  padding: 0 25px;
}
.home-article-content a {
  text-decoration: none;
  color:black;
}
span img{
  width:40px;
  border-radius:4px;
}
.footer {
  height: 50px;
  background-color: rgb(48, 13, 13);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  flex-direction: column;
}
.footer a {
  color: white;
}
